extends email-layout

block content
  h2 Teacher Registration
  p Hello. You have been added as a teacher by your school administrator. Please click the following button to continue on with your registration and fill in the rest of your details.
  +button(registerURL, 'Complete my Registration →')
  p 
    | If you can't click the above button please visit 
    a.reset--link(href=`${registerUrl}` title="Complete Registration") #{registerUrl}
  br
  p.info-text If you got this email by mistake, please ignore it.
