extends email-layout

block content
  h2 Password Reset
  p Hello. You have requested a password reset. Please click the following button to continue on with resetting your password. Please note this link is only valid for the next hour.
  +button(resetURL, 'Reset my Password →')
  p 
    | If you can't click the above button please visit 
    a.reset--link(href=`${resetURL}` title="Reset Password") #{resetURL}
  br
  p.info-text If you didn't request this email, please ignore it.
