extends layout

block content
  main.center
    p 🚀 If you can access this page that means the server is working fine! 🚀
    p Happy hacking!
    p 💻

  //- section.flex-column
  //-   h2.section--head API Endpoints
  //-   a(href="/content") /content
