doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= `${title} | ${siteName}`
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/styles.css')

  body
    .wrapper
      header
        p Hello

      block content

      footer
        p Elimu API by Some Guy
        p Copyright @ 2020